[phases.setup]
nixPkgs = ["python313"]

[phases.install]
cmds = [
  "python3 -m pip install --upgrade pip",
  "pip install -r requirements.txt",
  "python3 download_models.py"
]

[start]
cmd = "python3 pdf_ocr_api.py"

[variables]
PORT = "5003"

